/*
* Links
* ========================================================================== */
a {
  color: #0366d7;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: #056e24;
  }
}

/*
* Toggle Button
* ========================================================================== */
.nav-main a:not(.blog-logo) {
  display: none;
}

#menu-checkbox {
  display: none;
}

.toggle-button {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 0;
  top: 0;
  color: #000;
  font-size: 18px;
}

#menu-checkbox:checked + .nav-main a:not(.blog-logo) {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

#menu-checkbox:checked + .nav-main {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 100%;
}

.toggle-button:after {
  content: attr(data-open);
  cursor: pointer;
  padding: 15px;
  font-size: 1.6rem;
  text-align: center;
}

#menu-checkbox:checked + .nav-main .toggle-button:after {
  content: attr(data-close);
}

@media screen and (min-width: $break-point) {
  .toggle-button {
    display: none;
  }
}

/*
* Header
* ========================================================================== */
.main-header {
  background-color: #fdfdfd;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #ddd;
}

/*
* Header Navigation
* ========================================================================== */
.nav-main {
  height: 50px;
  //text-transform: uppercase;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 1rem;
  a {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    line-height: 50px;
    margin: auto;
    color: #333;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      color: #766257;
    }
  }
}

/*
* Logotypes
* ========================================================================== */
.nav-main {
  .blog-logo {
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
  }
}

/*
* Aside
* ========================================================================== */
.sidebar {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  //display: none;
}

.cover {
  transition: all 0.8s ease 0s;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.75)) repeat
    scroll 0% 0% transparent;
}

.cover-text {
  color: #fff;
  text-shadow: 2px 0 5px #333;
  position: absolute;
  bottom: 20%;
  width: 80%;
  left: 10%;
  .heading a {
    position: relative;
    margin-right: 5px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child):after {
      content: " , ";
      position: absolute;
      bottom: 0;
    }
  }
}

.sidebar,
.cover {
  width: 100%;
  height: 100vh;
}

/*
* Article
* ========================================================================== */
main {
  padding-top: 3em;
}

.index-page {
  position: relative;
  &:after {
    content: "...";
    position: relative;
    margin-top: 0.5em;
    width: 100px;
  }
}

article {
  padding: 1em 1em;
  img,
  embed,
  object,
  video,
  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    padding: 0.2em;
    background-color: #fff;
  }
}

.post-meta {
  padding-bottom: 0.5em;
  margin-left: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  //text-transform: uppercase;
  color: #b9b9b9;
  font-size: 70%;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  a,
  a:hover,
  a:focus,
  a:visited {
    color: #333;
  }
  .meta-black {
    color: #333;
  }
}

/*
* Archive
* ========================================================================== */
.year {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
}

.year li {
  padding: 5px;
  padding: 8px 10px;
  border-bottom: 1px dotted #eae4da;
}

.year a {
  text-decoration: none;
}

.year a:hover {
  text-decoration: underline;
}

.date {
  text-align: right;
  float: right;
  color: #d4d4d4;
  display: none;
}

/*
* Footer
* ========================================================================== */
.blog-footer {
  height: 4em;
  margin: 5em auto 0;
  font-size: 70%;
  border-top: 1px solid #ddd;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
}

/*
* Next/Previous Posts
* ========================================================================== */

.link-to-post {
  width: 100%;
  display: block;
  margin: 10px auto;
  padding: 1em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  transition: border-color 0.5s ease-in 0s;
  &:hover {
    border-color: #0d243b;
  }

  &__prev,
  &__next {
    font-size: 0.8em;
    color: #333;
    margin: 10px 0;
  }

  &__title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: block;
  }
}
