/*
* Projects Table
* ========================================================================== */
img.logo,
img.gitlab {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  margin: 1ch;
  padding: 0;
}

img.logo {
  width: 50px;
}

img.gitlab {
  width: 40px;
}
