<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div id="shadow"></div>
        {{- partial "header.html" . -}}
        {{- partial "aside.html" . -}}

        <main class="content-wrapper">
          {{- block "main" . }}{{- end }}
        </main>

        {{- partial "footer.html" . -}}
    </body>
</html>
