{{ define "main" }}
  
  {{/* Replace "sites" with posts once there are posts */}}
  {{ $v1 := where site.RegularPages "Section" "==" "sites" }}
  {{ range $v1.GroupByDate "2006" }}
    <h1>{{ .Key }}</h1>
    {{ range .Pages.ByDate.Reverse}}
      <article class="index-page">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="post-meta">
          <time datetime="{{ .Date.Format "2006-01-02" }}">  {{ .Date.Format "2006-01-02" }}</time>

          {{ with $.Param "author" }}
            &nbsp;/&nbsp;
            <span>{{ $.Param "author" }}</span>
          {{ else }}
            &nbsp;/&nbsp;
            <span>{{ .Site.Params.author }}</span>
          {{ end }}
        </p>
        {{ .Summary }}
      </article>
    {{ end }}
  {{ end }}
{{ end }}
