{{ define "main" }}
<article class="post">

  <h1 class="post-title">{{ .Title }}</h1>

  <p class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>

    {{ with $.Param "author" }}
      &nbsp;/&nbsp;
      <span>{{ $.Param "author" }}</span>
    {{ else }}
      &nbsp;/&nbsp;
      <span>{{ .Site.Params.author }}</span>
    {{ end }}
  </p>

  <div class="post-content">

    {{ .Content }}

    <div class="post-links">
      {{if .PrevInSection}}
        <a class="link-to-post" href="{{ .PrevInSection.Permalink }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ .PrevInSection.Title }}</span>
        </a>
      {{end}}

      {{if .NextInSection}}
        <a class="link-to-post" href="{{ .NextInSection.Permalink }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ .NextInSection.Title }}</span>
        </a>
      {{end}}

    </div>

  </div>

</article>
{{ end }}
