<aside class="sidebar" role="note" style="background-image: url(./cover.jpg);">
  <div class="cover">
    <div class="cover-text">
      <div class="heading">
        {{ .Title }} {{/* {{- range $tag := .Params.categories }}
        <meta property="og:article:tag" content="{{ $tag }}" />
        {{- end }} {% if page.tags %} {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}"
          >{{ tag | downcase }}</a
        >
        {% endfor %} {% else %} {{ page.title }} {% endif %} */}}
      </div>

      <p>
        {{ with .Params.description }} {{ .Params.description }} {{ end }}
      </p>
    </div>
  </div>
</aside>
