<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    {{ $pages := where site.RegularPages "Section" "==" "sites" }}
    {{ range $pages }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}

    <a href="{{ "index.xml" | absURL }}">RSS</a>

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>

</header>
