<head>
  <title>
    {{- if not .IsHome -}}
      {{ .Title }} — 
    {{- end -}}
    {{ .Site.Title }}
  </title>

  <meta name="description" content="{{ .Params.description }}">

  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" >

  <link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

    {{ partial "meta.html" . }}

</head>
