{{ hugo.Generator }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if eq .Section "post" }}
          <meta property="og:title" content="{{ .Title }}" />
          <meta name="twitter:title" content="{{ .Title }}">

          <meta property="og:type" content="article" />
          <meta name="twitter:card" content="summary">
          {{- if .Params.description }}
            <meta property="og:description" content="{{ .Params.description }}" />
            <meta name="twitter:description" content="{{ .Params.description }}">
          {{- end }}
          <meta property="og:url" content="{{ .Permalink }}" />
          <meta name="twitter:url" content="{{ .Permalink }}">
          <meta property="og:site_name" content="{{ .Site.Title }}" />

          {{- range $tag := .Params.categories }}
            <meta property="og:article:tag" content="{{ $tag }}" />
          {{- end }}

          <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
          <meta property="og:article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />

          {{- with .Params.cover }}
            <meta property="og:image" content="{{ .Params.cover }}" />
            <meta name="twitter:image" content="{{ .Params.cover }}">
          {{ end -}}
        {{- end -}}



